<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CentreFirstTimeOnly</key>
	<false/>
	<key>AlwaysShowsToolbar</key>
	<false/>
	<key>UsesTexturedWindow</key>
	<false/>
	<key>Panes</key>
	<dict>
		<key>BuiltInPane</key>
		<dict>
			<key>Name</key>
			<string>Options</string>
		</dict>
		<key>AnotherPane</key>
		<dict>
			<key>Name</key>
			<string>More Options</string>
		</dict>
	</dict>
	<key>BundleExtension</key>
	<string>preferencesPane</string>
	<key>BundleDirectory</key>
	<string>Preferences</string>
</dict>
</plist>
