<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ECPreferencesWindow</key>
	<dict>
		<key>CentreFirstTimeOnly</key>
		<false/>
		<key>AlwaysShowsToolbar</key>
		<false/>
		<key>BundleExtension</key>
		<string>preferences</string>
		<key>BundleDirectory</key>
		<string>Preferences</string>
		<key>ToolbarDisplayMode</key>
		<string>1</string>
		<key>ToolbarSizeMode</key>
		<string>0</string>
		<key>UsesTexturedWindow</key>
		<false/>
		<key>Panes</key>
		<array>
			<dict>
				<key>Class</key>
				<string>BuiltInPane</string>
				<key>Name</key>
				<string>Options</string>
				<key>ToolTip</key>
				<string>Example tooltip</string>
			</dict>
			<dict>
				<key>Class</key>
				<string>AnotherPane</string>
				<key>Name</key>
				<string>More Options</string>
				<key>ToolTip</key>
				<string>Different tooltip text</string>
			</dict>
		</array>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.elegantchaos.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Elegant Chaos. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
